ol, ul {
  list-style-type: decimal;
  list-style-position: outside !important;
  padding-left:1.5em;
  margin-left:0
}

ul {
  list-style: circle !important;
}

h1 {
    margin-top: 20.3px;
}

li {
  margin: initial !important;
  padding: initial !important;
}

.header-img {
  padding: 54px 0 !important;
}
