body {
    font-size: 16px !important;
}

.timeline .event-date h3 {
    font-size: 18px !important;
}

.bg-banner-soph-1 {
    padding: 54px 0 !important;
    background: url(../images/prv/banner-img-4.jpg) fixed no-repeat !important;
    color: #fff;
}

.navbar .social-item .linkedin{
	background:#43609c;
	color:#fff !important
}

.navbar-wp .navbar-right .social-link.linkedin:hover{
	background:#43609c;
	color:#fff
}

ul.social-icons li.linkedin:hover{
	background:#43609c;
	color:#fff !important
}

.social-media .linkedin{
	background:#43609c;
	color:#fff
}

.navbar-wp .navbar-right .social-link.linkedin:hover{
	background:#43609c;
	color:#fff
}

.post-desc{
  height:50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

a {
  color: #428bca !important;
}
