---
title: Home
layout: default
hide-breadcrumb: true
---
{% include base.html %}

<section id="slider-wrapper" class="layer-slider-wrapper layer-slider-dynamic">
  <div id="layerslider">
    <!-- Slide 1 -->
    <div class="ls-slide" data-ls="transition2d:1;timeshift:-1000;">
      <!-- slide background -->
      <img src="{{base}}/images/backgrounds/picjumbo.com_HNCK7775.jpg" class="ls-bg" alt="Slide background" />
      <!-- Left Text -->
      <h3 class="ls-l title text-normal" style="width:650px; top:20%; left:80px;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
        Let us help you grow your business.
      </h3>
      <p class="ls-l text-wrapped black c-white text-normal" style="width:500px; top:35%; left:80px;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:1000;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
        Sophcon is ready to help you build you business by streamlining your process!
      </p>
      <a href="{{base}}/company/contact/#send-message" class="btn btn-base btn-lg ls-l" style="top:50%; left:80px;" data-ls="offsetxin:0;offsetyin:250;durationin:1500;delayin:1500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
        Contact Us
      </a>
    </div>
    <!-- Slide 2 -->
    <div class="ls-slide" data-ls="transition2d:1;timeshift:-1000;">
      <!-- slide background -->
      <img src="{{base}}/images/backgrounds/full-bg-5.jpg" class="ls-bg" style="width: 100%;" alt="Slide background" />
      <h3 class="ls-l title-lg text-shadow text-uppercase text-center strong" style="width:100%; top:25%; left:50%;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
        Take your business to the next level
      </h3>
      <h3 class="ls-l title c-white text-wrapped black text-uppercase text-center strong" style="top:50%; left:50%;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:1000;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
        Vision.Believe.Success
      </h3>
      <a href="{{base}}/company/contact/#send-message" class="btn btn-base btn-lg ls-l" style="top:65%; left:50%;" data-ls="offsetxin:0;offsetyin:250;durationin:1500;delayin:1500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
        Contact Us
      </a>
    </div>
    <div class="ls-slide" data-ls="transition2d:1;timeshift:-1000;">
      <!-- slide background -->
      <img src="{{base}}/images/backgrounds/full-bg-11.jpg" class="ls-bg" style="width: 100%;" alt="Slide background" />
      <!-- Left Text -->
      <h3 class="ls-l title text-normal c-white" style="width:600px; top:35%; left:80px;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
        The secret of getting ahead is <span class="strong-600">getting</span> <span class="strong-600 c-base">started</span></strong>
      </h3>
      <p class="ls-l text-standard c-white" style="width:500px; top:50%; left:80px;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:1000;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
        Sophcon is ready to be part of your project. Let's get started
      </p>
      <a href="{{base}}/services/" class="btn btn-base btn-lg ls-l" style="top:60%; left:80px;" data-ls="offsetxin:0;offsetyin:250;durationin:1500;delayin:1500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
        Learn more
      </a>
    </div>
  </div>
</section>

<section class="slice base">
  <div class="wp-section">
    <div class="container">
      <div class="row">
        {% assign displayServices = site.services | where:"service_type", "ServiceOffering" %}
        {% for service in site.services %}
        {% capture theCycle %}{% cycle '1', '2', '3' %}{% endcapture %}
        {% if theCycle == '1' %}
      </div>
      <div class="row">
        {% endif %}
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="icon-block icon-block-1">
            <div class="icon-block-item">
              <i class="fa {{ service.icon }}"></i>
            </div>
            <div class="icon-block-body">
              <h4 class="c-white">{{ service.title }}</h2>
              <p>{{ service.brief_description }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="slice bg-white bb">
  <div class="wp-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title-wr">
              <h3 class="section-title left"><span>Our Mission</span></h3>
          </div>
          {% for missionStatement in site.mission_statements %}
          {% cycle 'add rows': '<div class="row">', nil %}
            <div class="col-md-6">
              <div class="short-feature">
                <div class="feature-icon">
                  <i class="fa {{ missionStatement.icon }}"></i>
                </div>
                <div class="feature-txt">
                  <h3 style="text-transform: none;">{{ missionStatement.title }}</h3>
                  <p>{{ missionStatement.brief_description }} {{ mssionStatement.icon }}</p>
                </div>
              </div>
            </div>
          {% cycle 'close rows': nil, '</div>' %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="slice bg-banner-1 animate-in-view hidden">
  <div class="wp-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h4><i class="fa fa-bar-chart-o fa-4x"></i></h4>
            <h2>Need some key performance indicators here.</h2>

            <div class="row">
              <div class="col-sm-6 col-md-3">
                <div class="pie-chart" data-unit="hour" data-percent="33.4">
                  <span class="percent"></span>
                  <div class="chart-text">
                    <h3>Response Time</h3>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3">
                <div class="pie-chart" data-percent="99">
                  <span class="percent"></span>
                  <div class="chart-text">
                    <h3>Client Review</h3>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3">
                <div class="pie-chart" data-percent="68">
                  <span class="percent"></span>
                  <div class="chart-text">
                    <h3>KPI #3</h3>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3">
                <div class="pie-chart" data-percent="68">
                  <span class="percent"></span>
                  <div class="chart-text">
                    <h3>Business ready</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
