---
title: News
layout: default
---

<section class="slice bg-base">
  <div class="wp-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h4><i class="fa fa-users fa-3x"></i></h4>
            <h2>Share news and events in a new way: Timeline</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas neque diam, luctus at laoreet in, auctor ut tellus.
              <br> Etiam enim lacus, ornare et tempor, rhoncus rhoncus sem.
            </p>
            <span class="clearfix"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% assign groups = site.news_articles | group_by: "created_date" %}

<section class="slice bg-white">
  <div class="wp-section">
    <div class="container">
      <ul class="timeline">
        {% for group in groups | sort: "name" %}
          <li class="year">{{ group.name | date: "%Y" }}</li>
          {% for news in group.items | sort: "created_date" %}
            {{ news.output }}
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
