---
title: News
layout: default
emptyArray: []
---

<section class="slice bg-base">
  <div class="wp-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h4><i class="fa fa-users fa-3x"></i></h4>
            <h2>Share news and events in a new way: Timeline</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas neque diam, luctus at laoreet in, auctor ut tellus.
              <br> Etiam enim lacus, ornare et tempor, rhoncus rhoncus sem.
            </p>
            <span class="clearfix"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Create a array of distinct years sorted descending -->
{% assign years = page.emptyArray %}
{% assign sortedArticles = (site.news_articles | sort: "created_date" | reverse) %}
{% for article in sortedArticles %}
  {% capture year %}{{ article.created_date | date: "%Y" }}{% endcapture %}
  {% if years contains year %}
   <!-- Do Nothing -->
  {% else %}
    {% assign years = years | push: year %}
  {% endif %}
{% endfor %}

<section class="slice bg-white">
  <div class="wp-section">
    <div class="container">
      <ul class="timeline">
        <!-- Loop the years then inner loop the news articles and display those that mach the outer loop year -->
        {% for year in years %}
        <li class="clearfix"></li>
        <li class="year">{{ year }}</li>
          <!-- Need to identify the first article within a year to apply offset css class -->
          {% assign isFirst = true %}
          {% for article in sortedArticles %}
            <!-- Used capture in order to be able to apply date format to get just the year from the date. -->
            {% capture articleYear %}{{ article.created_date | date: "%Y" }}{% endcapture %}
            {% if articleYear == year %}
              {% if isFirst == true %}
                <li class="event offset-first">
                {% assign isFirst = false %}
              {% else %}
                <li class="event">
              {% endif %}
              {{ article.output }}
              </li>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
