---
title: Approach
layout: default_narrow
---
{% include list_override.html %}
{% include base.html %}

<section class="slice white bb animate-hover-slide">
  <div class="wp-section">
    <div class="container">
      <div class="row ">
        <div class="wp-block default">
          <div class="col-md-2" style="padding-right:0;padding-left:0;border:1px solid #333">
            <img alt="Image courtesy of KROMKRATHOG at FreeDigitalPhotos.net" src="{{base}}/images/prv/ID-100207739.jpg" class="img-responsive">
          </div>
          <div class="wp-block-body col-md-10">
            <div class="col-xs-12">
              <span class="primary-letter style-3 base">E</span>nvisioning process, Sophcon will work shoulder-to-shoulder with it's customers
              to understand their business problems and goals.  Sophcon experence profesionels will
            </div>
          </div>
        </div>
        <div class="wp-block default">
          <div class="col-md-2" style="padding-right:0;padding-left:0;border:1px solid #333">
            <img alt="Image courtesy of Mister GC at FreeDigitalPhotos.net" src="{{base}}/images/prv/ID-10078481.jpg" class="img-responsive">
          </div>
          <div class="wp-block-body col-md-10">
            <div class="col-xs-12">
              <span class="primary-letter style-3 base">S</span>coping process involves breaking down the solution into manaeable projects. Identifying
              existing state, dependencies, blockers, milestones (external and internal), support requirements; resulting in a good idea of what it will
              take to execute.
            </div>
          </div>
        </div>
        <div class="wp-block default">
          <div class="col-md-2" style="padding-right:0;padding-left:0;border:1px solid #333">
            <img alt="Image courtesy of Stuart Miles at FreeDigitalPhotos.net" src="{{base}}/images/prv/ID-100101781.jpg" class="img-responsive">
          </div>
          <div class="wp-block-body col-md-10">
            <div class="col-xs-12">
              <span class="primary-letter style-3 base">E</span>xecuting the solution, Sophcon will utilize scrum/agile approach allowing
              clients to be an intergril part or the process and have visibility into the solution implmentation as it's being executed.
            </div>
          </div>
        </div>
        <div class="wp-block default">
          <div class="col-md-2" style="padding-right:0;padding-left:0;border:1px solid #333">
            <img alt="Image courtesy of phanlop88 at FreeDigitalPhotos.net" src="{{base}}/images/prv/ID-100162579.jpg" class="img-responsive">
          </div>
          <div class="wp-block-body col-md-10">
            <div class="col-xs-12">
              <span class="primary-letter style-3 base">S</span>upporting is the final procedure of Sophcon's approch and it consists of any close-out
              documentation regarding the solution, any technical knowledge transfer, and descussion of any support services needed.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
