{% assign contact = site.data.sophcon-info["contact"] %}
{% assign socials = site.data.sophcon-info["socials"] %}
<!-- FOOTER -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="col">
                    <h4>Contact us</h4>
                    <ul>
                        <li>{{ contact.street_address }}, {{ contact.city }} - {{ contact.country }}</li>
                        <li>Phone: {{ contact.phone }} | Fax: {{ contact.fax }} </li>
                        <li>Email: <a href="mailto:{{ contact.email }}" title="Email Us">{{ contact.email }}</a></li>
                        <li>Skype: <a href="skype:{{ contact.skype }}?call" title="Skype us">{{ contact.skype }}</a></li>
                        <li></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <div class="col">
                    <h4>Mailing list</h4>
                    <p>Sign up if you would like to receive occasional treats from us.</p>
                    <form class="form-horizontal form-light">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Your email address...">
                            <span class="input-group-btn">
                                <button class="btn btn-base" type="button">Go!</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-3">
                <div class="col col-social-icons">
                    <h4>Follow us</h4>
                    {% for social in socials %}
                    <a href="{{ social.url }}"><i class="fa {{ social.icon }}"></i></a>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-3">
                <div class="col">
                    <h4>About us</h4>
                    <p class="no-margin">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates voluptas
                    </p>
                </div>
            </div>
        </div>

    </div>
</footer>
</div>
