{% assign contact = site.data.sophcon-info["contact"] %}
{% assign socials = site.data.sophcon-info["socials"] %}
<!-- FOOTER -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="col">
                    <h4 class="text-center">Contact us</h4>
                    <ul class="text-center">
                        <li>{{ contact.street_address }}</li>
                        <li> {{ contact.city }} - {{ contact.country }}</li>
                        <li>Phone: {{ contact.phone }} {% if contact.fax != nil  %}| Fax: {{ contact.fax }}{% endif %} </li>
                        <li>Email: <a href="mailto:{{ contact.email }}" title="Email Us">{{ contact.email }}</a></li>
                        {% if contact.skype != nil  %}
                        <li>Skype: <a href="skype:{{ contact.skype }}?call" title="Skype us">{{ contact.skype }}</a></li>
                        {% endif %}
                        <li></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <div id="mc_embed_signup" class="col">
                    <h4>Mailing list</h4>
                    <p>Sign up if you would like to receive occasional treats from us.</p>
                    <form action="//sophcon.us1.list-manage.com/subscribe/post?u=0212b3b7957f41c8714af9180&amp;id=b570a3cf35" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-horizontal form-light" target="_blank" novalidate>
                        <div class="input-group">
                            <input type="email" class="form-control email" name="EMAIL" id="mce-EMAIL" placeholder="Your email address..." required>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0212b3b7957f41c8714af9180_b570a3cf35" tabindex="-1" value=""></div>
                            <span class="input-group-btn">
                                <button class="btn btn-base" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">Go!</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-4">
                <div class="col col-social-icons">
                    <h4 class="text-center">Follow us</h4>
                    <div class="text-center">
                      {% for social in socials %}
                      <a target="_blank" href="{{ social.url }}"><i class="fa {{ social.icon }}"></i></a>
                      {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="col">
                    <h4 class="text-center">About us</h4>
                    <p class="no-margin">
                        {{ site.data.sophcon-info.about_us_short }}  Take the first step, contact us @ <a href="mailto:info@sophcon.com">info@sophcon.com</a>.
                    </p>
                </div>
            </div>
        </div>

    </div>
</footer>
