<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index, follow">
  <title>{{ site.title }} - {{ page.title }}</title>
  {% include base.html %}
  <!-- Essential styles -->
  <link rel="stylesheet" href="{{base}}/assets/bootstrap/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="{{base}}/font-awesome/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{{base}}/assets/fancybox/jquery.fancybox.css?v=2.1.5" media="screen">

  <!-- Boomerang styles -->
  <link id="wpStylesheet" type="text/css" href="{{base}}/css/global-style-blue.css" rel="stylesheet" media="screen">
  <link id="sophocnsheet" type="text/css" href="{{base}}/css/sophcon-style-blue.css" rel="stylesheet" media="screen">
  <!-- Favicon -->

  <!-- Assets -->
  <link rel="stylesheet" href="{{base}}/assets/owl-carousel/owl.carousel.css">
  <link rel="stylesheet" href="{{base}}/assets/owl-carousel/owl.theme.css">
  <link rel="stylesheet" href="{{base}}/assets/sky-forms/css/sky-forms.css">
  <!--[if lt IE 9]>
      <link rel="stylesheet" href="assets/sky-forms/css/sky-forms-ie8.css">
  <![endif]-->

  <!-- Required JS -->
  <script src="{{base}}/js/jquery.js"></script>
  <script src="{{base}}/js/jquery-ui.min.js"></script>

  <!-- Page scripts -->
  <link rel="stylesheet" href="{{base}}/assets/layerslider/css/layerslider.css" type="text/css">
  <!-- Video JS -->
  <link href="{{base}}/assets/timeline/timeline.css" rel="stylesheet">

</head>
