<!-- MAIN NAV -->
<div class="navbar navbar-wp navbar-arrow mega-nav" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <i class="fa fa-bars icon-custom"></i>
      </button>
      <a class="navbar-brand" href="index.html" title="Sophcon">
        <img src="/images/sophcon-logo.png" alt="Sophcon">
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="cNavbarElement"><a href="/">Home</a></li>
        <li class="cNavbarElement"><a href="/services/">Services</a></li>
        <li class="cNavbarElement"><a href="/projects/">Clients &amp; Projects</a></li>
        <li class="cNavbarElement"><a href="/about/">About Us</a></li>
      </ul>

    </div>
  </div>
</div>
