<!-- MAIN NAV -->
<div class="navbar navbar-wp navbar-arrow mega-nav" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <i class="fa fa-bars icon-custom"></i>
      </button>
      <a class="navbar-brand" href="index.html" title="Sophcon">
        <img src="/images/sophcon-logo.png" alt="Sophcon">
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        {% for nav in site.data.nav %}
          {% if nav.subNav != null %}
            <li class="dropdown">
              <a href="{{ nav.url }}" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">{{ nav.title }}</a>
              <ul class="dropdown-menu">
                {% for subnav in nav.subNav %}
                  <li><a href="{{ subnav.subUrl }}">{{ subnav.subTitle }}</a></li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li class="cNavbarElement"><a href="{{ nav.url }}">{{ nav.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
