<!-- MAIN NAV -->
<div class="navbar navbar-wp navbar-arrow mega-nav" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <i class="fa fa-bars icon-custom"></i>
      </button>
      <a class="navbar-brand" href="index.html" title="Sophcon">
        <img src="/images/sophcon-logo.png" alt="Sophcon">
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="cNavbarElement"><a href="/">Home</a></li>
        <li class="cNavbarElement"><a href="/services/">Services</a></li>
        <li class="cNavbarElement"><a href="/clients/">Clients</a></li>
        <li class="cNavbarElement"><a href="/resources/">Resources</a></li>
        <li class="cNavbarElement"><a href="/community/">Community</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle">Company</a>
          <ul class="dropdown-menu">
            <li class="cNavbarElement"><a href="/company/about/">About Us</a></li>
            <li class="cNavbarElement"><a href="/company/blogs/">Blogs</a></li>
            <li class="cNavbarElement"><a href="/company/news/">News</a></li>
            <li class="cNavbarElement"><a href="/company/contact/">Contact Us</a></li>
          </ul>
        </li>
        <!--
        {% for nav in site.data.navs %}
          <li class="cNavbarElement"><a href="{{ nav.url }}">{{ nav.title }}</a></li>
        {% endfor %}
        -->
      </ul>
    </div>
  </div>
</div>
