<!-- Essential JS -->
<script src="{{base}}/js/modernizr.custom.js"></script>
<!--<script src="{{base}}/assets/bootstrap/js/bootstrap.min.js"></script>-->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="{{base}}/js/jquery.mousewheel-3.0.6.pack.js"></script>
<script src="{{base}}/js/jquery.easing.js"></script>
<script src="{{base}}/js/jquery.metadata.js"></script>
<script src="{{base}}/js/jquery.hoverup.js"></script>
<script src="{{base}}/js/jquery.hoverdir.js"></script>
<script src="{{base}}/js/jquery.stellar.js"></script>

<!-- Forms -->
<script src="{{base}}/assets/ui-kit/js/jquery.powerful-placeholder.min.js"></script>
<script src="{{base}}/assets/ui-kit/js/cusel.min.js"></script>
<script src="{{base}}/assets/sky-forms/js/jquery.form.min.js"></script>
<script src="{{base}}/assets/sky-forms/js/jquery.validate.min.js"></script>
<script src="{{base}}/assets/sky-forms/js/jquery.maskedinput.min.js"></script>
<script src="{{base}}/assets/sky-forms/js/jquery.modal.js"></script>

<!-- Assets  -->
<script src="{{base}}/assets/responsive-mobile-nav/js/jquery.dlmenu.js"></script>
<script src="{{base}}/assets/hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
<script src="{{base}}/assets/page-scroller/jquery.ui.totop.min.js"></script>
<script src="{{base}}/assets/mixitup/jquery.mixitup.js"></script>
<script src="{{base}}/assets/mixitup/jquery.mixitup.init.js"></script>
<script src="{{base}}/assets/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
<script src="{{base}}/assets/bootstrap/js/tooltip.js"></script>
<script src="{{base}}/assets/bootstrap/js/popover.js"></script>
<script src="{{base}}/assets/milestone-counter/jquery.countTo.js"></script>
<script src="{{base}}/assets/waypoints/waypoints.js"></script>
<script src="{{base}}/assets/easy-pie-chart/js/jquery.easypiechart.js"></script>
<script src="{{base}}/assets/easy-pie-chart/js/jquery.easypiechart.js"></script>
<script src="{{base}}/assets/nouislider/js/jquery.nouislider.min.js"></script>
<script src="{{base}}/assets/owl-carousel/owl.carousel.js"></script>
<script src="{{base}}/assets/bootstrap/js/tooltip.js"></script>
<script src="{{base}}/assets/bootstrap/js/popover.js"></script>

<!-- Slider -->
<script src="{{base}}/assets/layerslider/js/greensock.js" type="text/javascript"></script>
<script src="{{base}}/assets/layerslider/js/layerslider.transitions.js" type="text/javascript"></script>
<script src="{{base}}/assets/layerslider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>

<!-- Boomerang App JS -->
<script src="{{base}}/js/wp.app.js"></script>
<!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
<![endif]-->

<!-- Custom -->
<script src="{{base}}/js/sophcon.js"></script>
