---
title: Services
layout: default
---

{% include list_override.html %}
{% include base.html %}
<section class="slice white bb animate-hover-slide">
    <div class="wp-section">
        <div class="container">
            
            <div class="section-title-wr">
                <h3 class="section-title left">
                    <span>What we offer</span>
                </h3>
            </div>
            {% assign displayServices = site.services | where:"service_type", "ServiceOffering" %}
            {% for service in site.services %}
            {% capture theCycle %}{% cycle 'odd', 'even' %}{% endcapture %}
            <div class="row ">
                <div class="wp-block default">
                  {% if theCycle == 'even' %}
                  <div class="wp-block-body col-md-8">
                    <h2 class="title">{{ service.title }}</h2>
                    {{ service.content }}
                  </div>
                  {% endif %}
                  <div class="col-md-4" style="padding-right:0;padding-left:0;">
                    <img alt="" src="{{base}}/{{service.img_url}}" class="img-responsive">
                  </div>
                  {% if theCycle == 'odd' %}
                  <div class="wp-block-body col-md-8">
                    <h2 class="title">{{ service.title }}</h2>
                    {{ service.content }}
                  </div>
                  {% endif %}
              </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
