---
title: Contact Us
layout: default
---
{% include base.html %}
{% assign contact = site.data.sophcon-info["contact"] %}
{% assign socials = site.data.sophcon-info["socials"] %}

<section class="slice bg-white">
  <div class="wp-section">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <form role="form" id="sendMsgFrm">
            <div class="section-title-wr">
              <h3 class="section-title left"><span>Send us a message</span></h3>
            </div>
            <p>
              
            </p>
            <div class="form-group">
              <label class="control-label" for="name">Name</label>
              <input id="name" type="text" class="form-control" placeholder="Your name" aria-describedby="nameErrorMsg">
              <span id="nameErrorMsg" class="help-block hidden">Please provide a name.</span>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="email">Email</label>
                  <input id="email" type="email" class="form-control" placeholder="Email address" aria-describedby="emailErrorMsg">
                  <span id="emailErrorMsg" class="help-block hidden">Either a email or phone number is required.</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="phone">Phone</label>
                  <input id="phone" type="text" class="form-control" placeholder="Phone number" aria-describedby="phoneErrorMsg">
                  <span id="phoneErrorMsg" class="help-block hidden">Either a email or phone number is required.</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="subject">Subject</label>
              <input id="subject" type="text" class="form-control" id="subject" placeholder="Subject" aria-describedby="subjectErrorMsg">
              <span id="subjectErrorMsg" class="help-block hidden">Subject is required.</span>
            </div>
            <div class="form-group">
              <label class="control-label" for="message">Message</label>
              <textarea id="message" class="form-control" placeholder="Write you message here..." style="height:100px;" aria-describedby="messageErrorMsg"></textarea>
              <span id="messageErrorMsg" class="help-block hidden">Message is required.</span>
            </div>
            <button id="btnSendMessage" type="button" class="btn btn-base">Send message</button>
          </form>
          
          <div id="thankyouDiv" class="hidden">
            <div class="section-title-wr">
              <h3 class="section-title left"><span>Thank you</span></h3>
            </div>
            <p>
              We appreciate your message. 
            </p>
            
            <button id="btnReset" type="button" class="btn btn-base">Send another message</button>
          </div>
        </div>

        <div class="col-md-5">
          <div id="mapCanvas" class="map-canvas no-margin"></div>

          <div class="row">
            <div class="col-sm-12">
              <div class="subsection">
                <div class="section-title-wr">
                  <h3 class="section-title left"><span>Business info</span></h3>
                </div>
                <div class="contact-info">
                  <h5><i class="fa fa-map-marker"></i> Address</h5>
                  <p>
                    {{ contact.street_address }}, {{ contact.state }} <br />
                    {{ contact.country }} {{ contact.zip }}<br />
                  </p>
                  
                  <h5><i class="fa fa-envelope"></i> Email</h5>
                  <p><a href="mailto://{{ contact.email }}">{{ contact.email }}</a></p>

                  <h5><i class="fa fa-phone"></i> Phone</h5>
                  <p>{{ contact.phone }}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="section-title-wr">
            <h3 class="section-title left"><span>Stay connected</span></h3>
          </div>
          <p>
            Stay connected with Sophcon, click to follow Sophcon on your favorite social media sites.
          </p>
          <div class="social-media">
            {% assign contact_social = socials | where:"can_contact", true %}
            {% for social in contact_social %}
            <a href="{{ social.url }}"><i class="fa {{ social.icon }} {{ social.icon_bg }}"></i></a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--<section class="slice bg-white">
  <div class="wp-section">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
            <div id="mapCanvas" class="map-canvas no-margin"></div>
        </div>

        <div class="col-md-5">
          <div class="row">
            <div class="col-sm-12">
              <div class="subsection">
                <div class="section-title-wr">
                  <h3 class="section-title left"><span>Business info</span></h3>
                </div>
                <div class="contact-info">
                  <h5><i class="fa fa-map-marker"></i> Address</h5>
                  <p>{{ contact.street_address }}, {{ contact.state }}</p>
                  <p>{{ contact.country }}</p>

                  <h5><i class="fa fa-envelope"></i> Email</h5>
                  <p><a href="mailto://{{ contact.email }}">{{ contact.email }}</a></p>

                  <h5><i class="fa fa-phone"></i> Phone</h5>
                  <p>{{ contact.phone }}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="section-title-wr">
            <h3 class="section-title left"><span>Stay connected</span></h3>
          </div>
          <p>
            Stay connected with Sophcon, click to follow Sophcon on your favorite social media sites.
          </p>
          <div class="social-media">
            {% assign contact_social = socials | where:"can_contact", true %}
            {% for social in contact_social %}
            <a href="{{ social.url }}"><i class="fa {{ social.icon }} {{ social.icon_bg }}"></i></a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>-->

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
<script type="text/javascript" src="{{base}}/js/gmaps/google-maps-default.js"></script>
