<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  <!-- Here comes the page content -->
  <div class="body-wrap" style="min-height: 643px;">
    <div id="divHeaderWrapper">
      <header class="header-standard-2">
        {% include navigation.html %}
      </header>
    </div>
    {{ content }}
  </div>

  {% include footer.html %}

  {% include scripts.html %}
  <script>
    jQuery("#layerslider").layerSlider({
        pauseOnHover: true,
        autoPlayVideos: false,
        skinsPath: '{{base}}/assets/layerslider/skins/',
        responsive: false,
        responsiveUnder: 1280,
        layersContainer: 1280,
        skin: 'borderlessdark3d',
        hoverPrevNext: true,
    });
  </script>
</body>

</html>
