---
title: About Us
layout: default
---
{% include base.html %}
<section class="layer-slider-wrapper layer-slider-dynamic">
  <div id="aboutUsCarousel" class="carousel carousel-1 slide color-two-l" data-ride="carousel">
    <div class="bg-base" style="height:5px"></div>
    <!-- Indicators -->
    <ol class="carousel-indicators hide">
      <li data-target="#aboutUsCarousel" data-slide-to="0" class=""></li>
    </ol>

    <div class="carousel-inner">
      <div class="item">
        <img src="{{base}}/images/prv/about-img-1.jpg" alt="">
      </div>
      <div class="item active">
        <img src="{{base}}/images/prv/about-img-2.jpg" alt="">
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#aboutUsCarousel" data-slide="prev">
      <i class="fa fa-angle-left"></i>
    </a>
    <a class="right carousel-control" href="#aboutUsCarousel" data-slide="next">
      <i class="fa fa-angle-right"></i>
    </a>
    <div class="bg-base" style="height:5px"></div>
  </div>
</section>
<section class="slice">
  <div class="wp-section ">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="section-title-wr">
            <h3 class="section-title left"><span>About us</span></h3>
          </div>
          <p>
            {{ site.data.sophcon-info.about_us_short }}
          </p>
          <p>
            {{ site.data.sophcon-info.about_us }}
          </p>
        </div>
        <div class="col-md-6">
          <div class="section-title-wr">
            <h3 class="section-title left"><span>Our history</span></h3>
          </div>
          <p>
            {{ site.data.sophcon-info.history }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container-fluid text-center" style="margin: 0; padding: 0">
  <a title="Blogs" href="/company/blogs/">
    <div class="bg-primary col-xs-4" style="padding: 20px; border: solid 1px #fff">
        <span style="color:white;" class="fa fa-rss-square fa-2x"></span>
        <div class="hidden-xs">Blogs</div>
    </div>
  </a>
  <a title="News" href="/company/news/">
    <div class="bg-primary col-xs-4" style="padding: 20px; border: solid 1px #fff">
        <span style="color:white;" class="fa fa-newspaper-o fa-2x"></span>
        <div class="hidden-xs">News</div>
    </div>
  </a>
  <a title="Contact Us" href="/company/contact/">
    <div class="bg-primary col-xs-4" style="padding: 20px; border: solid 1px #fff">
        <span style="color:white;" class="fa fa-envelope-o fa-2x"></span>
        <div class="hidden-xs">Contact Us</div>
    </div>
  </a>
</div>
<section class="slice bg-base hidden">
  <div class="wp-section">
    <div class="container">
      <div id="commentsCarousel" class="carousel carousel-1 slide color-two-l" data-ride="carousel">
        <div class="carousel-inner">
          <div class="item">
            <div class="col-md-12">
              <div class="text-center">
                <h4 class="c-white"><i class="fa fa-quote-left fa-3x"></i></h4>
                <h2 class="c-white">What our clients say</h2>
                <div class="testimonial-text c-white">
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                    survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                  </p>
                  <p class="testimonial-author c-white">John Doe, The Company Inc.</p>
                </div>
                <span class="clearfix"></span>
              </div>
            </div>
          </div>

          <div class="item active">
            <div class="col-md-12">
              <div class="text-center">
                <h4 class="c-white"><i class="fa fa-quote-left fa-3x"></i></h4>
                <h2 class="c-white">What our clients say</h2>
                <div class="testimonial-text c-white">
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                    survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                  </p>
                  <p class="testimonial-author c-white">John Doe, The Company Inc.</p>
                </div>
                <span class="clearfix"></span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<section class="slice white bb">
  <div class="wp-section">
    <div class="container">
      {% for profile in site.sophcon_profiles %}
      {% capture theCycle %}{% cycle 'odd', 'even' %}{% endcapture %}
      <div class="row ">
        {% if theCycle == 'odd' %}
        <div class="col-md-6 visible-md visible-lg">
          {% if profile.avatar != null %}
          <img src="{{ base }}/{{ profile.avatar }}" class="img-responsive" alt="" style="max-height:309px">
          {% else %}
          <img src="{{ profile.avatar_url }}" class="img-responsive" alt="" style="max-height:309px">
          {% endif %}
        </div>
        {% endif %}
        <!-- For mobile support -->
        <div class="col-md-6 visible-xs visible-sm">
          {% if profile.avatar != null %}
          <img src="{{ base }}/{{ profile.avatar }}" class="img-responsive" alt="" style="max-height:309px">
          {% else %}
          <img src="{{ profile.avatar_url }}" class="img-responsive" alt="" style="max-height:309px">
          {% endif %}
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-7">
              <h4 class="title">{{ profile.job_title }}</h4>
            </div>
            <div class="col-md-5">
              <div class="social-media social-media-sm text-right">
                {% for social in profile.socials %}
                <a href="{{ social.url }}" title="{{ social.name }}"><i class="fa {{ social.icon }} {{ social.icon_bg }}"></i></a>
                {% endfor %}
              </div>
            </div>
          </div>
          <h5 class="title title-md c-light-gray">
            {{ profile.title }}
          </h5>
          <p>
            {{ profile.about_me_short }}
          </p>
        </div>
        {% if theCycle == 'even' %}
        <div class="col-md-6 visible-md visible-lg">
          {% if profile.avatar != null %}
          <img src="{{ base }}/{{ profile.avatar }}" class="img-responsive" alt="" style="max-height:309px">
          {% else %}
          <img src="{{ profile.avatar_url }}" class="img-responsive" alt="" style="max-height:309px">
          {% endif %}
        </div>
        {% endif %}
      </div>
      <hr />
      {% endfor %}
    </div>
  </div>
</section>
